.container-whyssgs h1{
    text-align: center;
    font-weight: bold;
    margin: 55px 0 10px 0px;
    color:rgb(61, 62, 63);
  }
  .whyssg-listImg{
    width: 100%;
    height: auto;
    display: inline-flex;
  }
  .whyssg-listPara{
    margin-top: 20px;
    color:black;
    text-align: justify;
    font-size: 20px;
  }
  .whyssg-listPara li{
    margin-bottom: 20px;
  }
  .container-whyssgs{
    /* margin: 55px 0px 50px 12px; */
  }