.videoHeader{
    margin-top: 55px;
}
.video-container h1 {
    
    text-align: center;
    font-weight: bold;
    margin: 55px 0 0 0px;
    color: rgb(61, 62, 63);
  }
  .listItem h2 {
      text-align: left;
      color: var(--main-deepOrange);
    }
  .listItem {
    border: black;
    padding: 30px 40px 10px;
  }