.overseas-container h1 {
  text-align: center;
  font-weight: bold;
  margin: 55px 0 10px 0px;
  color: rgb(61, 62, 63);
}
.overseas-listImg {
  width: 100%;
    height: 500px;
    display: inline-flex;
    object-fit: cover;
}
.overseas-listPara {
  margin-top: 20px;
  color: black;
  text-align: justify;
}
.overseas-container {
  margin: 0px 0px 50px 0;
}
