*{
  font-family: Georgia;
}
.App {
  text-align: center;
  
}
.body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/* .container{
  width: 90%;
} */
:root {
  --main-deepOrange:#F5881F;
  --main-blue: #00A0CCFF;
  --main-deepBlue:#163651;
}


